<h2>
<a name="lapplication-cocktail-" class="anchor" href="#lapplication-cocktail-"><span class="octicon octicon-link"></span></a>L'application Cocktail :</h2>	

<p>Ouvrez votre <a href="#">web app Graphite</a>. C'est dans cette interface que vous pourrez admirer les magnifiques graphes que vous allez bientôt commencer à alimenter.</p>

<p>Connectez-vous en SSH à l'adresse de votre Tomcat</p>

{% highlight bash %}
$ ssh ec2-user@{{page.group}}.tomcat.workshop-jmxtrans-graphite.com
{% endhighlight %}

<p>Récupérer l'application <a href="https://github.com/antoinemichaud/embedded-jmxtrans-samples">Cocktail</a></p>

{% highlight bash %}
$ git clone https://github.com/antoinemichaud/embedded-jmxtrans-samples.git
{% endhighlight %}

<p>Placez-vous dans le répertoire embedded-jmxtrans-samples/embedded-jmxtrans-webapp-coktail</p>

<p>Packagez et démarrez l'application : </p>

{% highlight bash %}
$ cd embedded-jmxtranns-samples
$ mvn clean package jetty:run
{% endhighlight %}

<p>Une fois l'application terminée de démarrer, rendez-vous sur le port 8080 de votre toute nouvelle application</p>

<p>Et pour nous récompenser de cette dure labeur achetons-nous 1 sex on the beach.

<h2>Configuration de JMXTrans</h2>

<p>
  Pour nous éviter l'installation d'un serveur JMXTrans, nous allons utiliser JMXTrans Embedded.
  <ul>
    <li>Inclure le plugin maven de JMXTrans dans les sources de l'application Cocktail (utiliser VIM pour éditer le POM par exemple);</li>
    
{% highlight xml %}
<dependency>
    <groupId>org.jmxtrans.embedded</groupId>
    <artifactId>embedded-jmxtrans</artifactId>
    <version>1.0.9-SNAPSHOT</version>
</dependency>
{% endhighlight %}

  </ul>
  Une fois la dépendance résolue, il faut configurer notre serveur JMXTrans embedded. JMXTrans embedded utilise un fichier JSON pour sa configuration.
  <ul>
    <li>Dans le répertoire src/main/resources, créer un fichier jmxtrans.json</li>  
  

{% highlight bash %}
$ touch src/main/resources/jmxtrans.json
{% endhighlight %}


    <li>Pour commencer, on va faire pointer notre jmxtrans vers le serveur graphite.</li>

{% highlight json %}
{
    "queries": [
        {
            "@class": "org.jmxtrans.embedded.output.GraphiteWriter",
            "settings": {
                "host": "ec2-54-216-108-209.eu-west-1.compute.amazonaws.com",
                "port": "2003"
            }
        }
    ]
}
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}