<h2>
<a name="lapplication-cocktail-" class="anchor" href="#lapplication-cocktail-"><span class="octicon octicon-link"></span></a>L'application Cocktail :</h2>	

<p>Ouvrez votre <a href="#">web app Graphite</a>. C'est dans cette interface que vous pourrez admirer les magnifiques graphes que vous allez bientôt commencer à alimenter.</p>

<p>Pour vous connecter aux machines, récupérer le fichier <a href="https://raw.github.com/xebia-france/workshop-graphite-jmxtrans/master/script/graphite.pem">graphite.pem</a> ou le fichier <a href="../data/kibana.ppk">kibana.ppk</a> pour les utilisateurs Windows, dans votre répertoire courant (la clef sera révoquée après le workshop). N'oubliez pas de changer les permissions sur le fichier :</p>
{% highlight bash %}
$ chmod 600 graphite.pem
{% endhighlight %}


<p>Connectez-vous en SSH à l'adresse de votre Tomcat</p>

{% highlight bash %}
$ ssh -i graphite.pem ec2-user@{{page.group}}-cocktail-monitoring.aws.xebiatechevent.info
{% endhighlight %}

<p>Récupérer l'application <a href="https://github.com/antoinemichaud/embedded-jmxtrans-samples">Cocktail</a></p>

{% highlight bash %}
$ git clone https://github.com/antoinemichaud/embedded-jmxtrans-samples.git
{% endhighlight %}

<p>Placez-vous dans le répertoire embedded-jmxtrans-samples/embedded-jmxtrans-webapp-coktail :</p>

{% highlight bash %}
$ cd embedded-jmxtrans-samples
{% endhighlight %}

<p>Packagez et démarrez l'application : </p>

{% highlight bash %}
$ mvn clean package jetty:run
{% endhighlight %}

<p>Une fois l'application terminée de démarrer, rendez-vous sur le port 8080 de votre toute nouvelle application : <a href="http://{{page.group}}-cocktail-monitoring.aws.xebiatechevent.info:8080" target="_blank">cocktail</a></p>

<p>Et pour nous récompenser de cette dure labeur achetons-nous 1 sex on the beach.

<h2>Configuration de JMXTrans</h2>

<p>Actuellement, il n'existe pas de moyen simple d'observer les données système, de la JVM, ainsi que le comportement de l'utilisateur sur l'application.</p>
<p>Pour envoyer des données à Graphite, nous allons envoyer des données grâce à JMXTrans.</p>
<p>
  Pour nous éviter l'installation d'un serveur JMXTrans, nous allons utiliser JMXTrans Embedded.</p>
  <ul>
    <li>Inclure le plugin maven de JMXTrans dans les sources de l'application Cocktail (utiliser VIM pour éditer le POM par exemple);</li>
    
{% highlight xml %}
<dependency>
    <groupId>org.jmxtrans.embedded</groupId>
    <artifactId>embedded-jmxtrans</artifactId>
    <version>1.0.9-SNAPSHOT</version>
</dependency>
{% endhighlight %}

  </ul>
  <p>Une fois la dépendance résolue, il faut configurer notre serveur JMXTrans embedded. JMXTrans embedded utilise un fichier JSON pour sa configuration.</p>
  <ul>
    <li>Dans le répertoire src/main/resources, éditer le fichier jmxtrans.json</li>
  </ul>

{% highlight bash %}
$ vi src/main/resources/jmxtrans.json
{% endhighlight %}
  <ul>
    <li>Pour commencer, on va faire pointer notre jmxtrans vers le serveur graphite et logger les données que nous envoyons à graphite avec SLF4J.</li>
  </ul>
{% highlight json %}
{
    "outputWriters": [
        {
            "@class": "org.jmxtrans.embedded.output.Slf4jWriter",
            "settings": {
                "enabled": "${jmxtrans.writer.slf4j.enabled:true}"
            }
        },
        {
            "@class": "org.jmxtrans.embedded.output.GraphiteWriter",
            "settings": {
                "host": "{{page.group}}-graphite-monitoring.aws.xebiatechevent.info",
                "port": "2003",
                "enabled": "true",
                "namePrefix": "stats"
            }
        }
    ]
}
{% endhighlight %}

  C'est Spring MVC qui va se charger d'aller chercher le fichier de configuration de jmxtrans
  <ul>
    <li>Ouvrir le fichier src/main/webapp/WEB-INF/spring-mvc-servlet.xml</li>
    <li>Ajouter/modifier les lignes suivantes :</li>
  </ul>
  
{% highlight xml %}
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jmxtrans="http://www.jmxtrans.org/schema/embedded"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
                http://www.jmxtrans.org/schema/embedded http://www.jmxtrans.org/schema/embedded/jmxtrans.xsd">

    <jmxtrans:jmxtrans>
        <jmxtrans:configuration>classpath:jmxtrans.json</jmxtrans:configuration>
        <jmxtrans:configuration>classpath:org/jmxtrans/embedded/config/tomcat-7.json</jmxtrans:configuration>
        <jmxtrans:configuration>classpath:org/jmxtrans/embedded/config/jmxtrans-internals.json</jmxtrans:configuration>
        <jmxtrans:configuration>classpath:org/jmxtrans/embedded/config/jvm-sun-hotspot.json</jmxtrans:configuration>
    </jmxtrans:jmxtrans>
    ...
</beans>
    
{% endhighlight %}

<ul>
  <li>La première ligne concerne la configuration jmxtrans.json que nous venons d'écrire. Elle définit les canaux de sortie de jmxtrans et permettra plus loin dans cet atelier de définir les métriques métier.</li>
  <li>Les trois dernières lignes permettent de définir les métriques du système et de la JVM.</li>
</ul>

<h2>Redémarrer Jetty pour prendre en compte les modifications</h2>

{% highlight bash %}
$ mvn clean package jetty:run
{% endhighlight %}

<h2>Visualisation des données système sur Graphite</h2>
  
  <ul>
    <li>Rendez-vous sur <a href="http://{{page.group}}-graphite-monitoring.aws.xebiatechevent.info" target="_blank">Graphite</a></li>
    <li>Dans la colonne de gauche, sélectionner <code>Graphite > stats > jvm</code></li>
    <li>Vous avez maintenant accès à plusieurs métriques de la JVM avec lesquelles vous pouvez commencer à jouer</li>
  </ul>
  
<h2>Ajout d'un métrique métier</h2>
<p>Afin de pouvoir prévoir de nouvelles évolutions de notre application, nous allons transmettre à Graphite des données métier.</p>

<p>JMXTrans a l'avantage de permettre la configuration des données à transmettre avec de simples annotations JMX.</p>

<h3>Mettre en place un compteur de type "GAUGE" qui donne le nombre de fois que la page d'accueil a été affichée.</h3>

<ul>
  <li>Créer un compteur <code>displayedHomeCount</code></li>
  <li>Ouvrir le fichier <code>vi src/main/java/org/jmxtrans/embedded/samples/cocktail/cocktail/CocktailController.java</code></li>
  <li>Ajouter une variable privée<br/>
      {% highlight ruby %}private final AtomicInteger displayedHomeCount = new AtomicInteger();{% endhighlight %}
  </li>
  <li>Incrémenter le compteur à chaque appel de la page d'accueil</li>
  <li>Editer la méthode <code>home()</code><br/>
      Ajouter la ligne {% highlight ruby %}displayedHomeCount.incrementAndGet();{% endhighlight %}</li>
  <li>Exposer le métrique en créant une nouvelle méthode<br/>
      {% highlight ruby %}@ManagedMetric(metricType = MetricType.GAUGE)
public int getDisplayedHomeCount() {
    return displayedHomeCount.get();
}{% endhighlight %}
  </li>
  <li>
      Exposer le contrôleur avec l'annotation<br/>
      {% highlight ruby %}@ManagedResource("cocktail:type=CocktailController,name=CocktailController")
@Controller
public class CocktailController {
    ...
{% endhighlight %}
  </li>
  <li>
      Ouvrir le fichier jmxtrans.json pour envoyer la nouvelle métrique vers Graphite
      {% highlight bash %}
$ vi src/main/resources/jmxtrans.json
{% endhighlight %}
  </li>
  <li>
      Ajouter le nouveau métrique
      <br/>
      {% highlight json %}
"queries": [
    {
        "objectName": "cocktail:type=CocktailController,name=CocktailController",
        "resultAlias": "cocktail",
        "attributes": [
            "DisplayedHomeCount"
        ]
    }
],
...
      {% endhighlight %}
  </li>
  <li>Nous verrons un peut plus tard dans le TP comment exploiter ce métrique dans Graphite.</li>
</ul>

<h3>Récupérer la totalité des métriques</h3>
{% highlight bash %}
$ git stash ; git checkout -b solution origin/solution
{% endhighlight %}

<h3>Valoriser correctement l'URL de Graphite</h3>
<ul>
    <li>Ouvrir le fichier <code>jmxtrans.json</code><br/>
{% highlight bash %}
$ vi src/main/resources/jmxtrans.json
{% endhighlight %}
    </li>
    <li>Remplacer la ligne</br>
{% highlight ruby %}
"host": "io-graphite-monitoring.aws.xebiatechevent.info",
{% endhighlight %}
    </li>
    <li>Par<br/>
{% highlight ruby %}
"host": "{{page.group}}-graphite-monitoring.aws.xebiatechevent.info",
{% endhighlight %}
    </li>
</ul>

<h2>Redémarrer Jetty pour prendre en compte les modifications</h2>

{% highlight bash %}
$ mvn clean package jetty:run
{% endhighlight %}

Afin de simuler des achats de cocktail, un script a été crée. Pour le lancer, ouvrer un second terminal vers la console, et lancer la commande suivante :
{% highlight bash %}
$ launch-gatling
{% endhighlight %}


