<h2>Alerting avec Seyren</h2>

Seyren est un outil open source permettant de lever des alertes si certains seuils sont dépassés. Nous allons prendre comme exemple de lever une alerte si le nombre de cocktail vendu est supérieur à 2500 par heure (par exemple par ce que nous n'avons pas les moyens d'en fabriquer plus).

<h3>Démarrer Seyren et le brancher vers graphite</h3>

Seyren est alimenté par les données de graphite. Nous allons donc lui donner les informations lui permettant de se connecter vers graphite afin de récupérer les données. Toute cette configuration s'effectue avec des variables d'environnements :

Pour commencer, connectez vous en ssh sur la machine seyren :

{% highlight bash %}
$ ssh ec2-user@{{page.group}}-seyren-monitoring.aws.xebiatechevent.info
{% endhighlight %}

et configurer la variable d'environnement GRAPHITE_URL pour la faire pointer vers votre instance de graphite.

{% highlight bash %}
$ export GRAPHITE_URL=http://{{page.group}}-graphite-monitoring.aws.xebiatechevent.info
{% endhighlight %}

Démarrer la base de données mongo :
{% highlight bash %}
$ sudo mongod --fork --syslog
{% endhighlight %}

Ensuite, nous allons démarrer le tomcat contenant le war de seyren

{% highlight bash %}
$ sudo service tomcat7 restart
{% endhighlight %}

<h3>Configurer une alerte</h3>
Maintenant que Seyren pointe vers graphite, nous allons configurer une alerte afin d'indiquer quel métrique il faut configurer. Pour celà, aller avec votre navigateur sur l'URL, <a href="http://{{page.group}}-seyren-monitoring.aws.xebiatechevent.info:8080/seyren/" target="_blank">seyren</a>, et cliquer sur <code>Check > Create check</code>.
<br/>
<br/>
Remplir la popup avec les informations suivantes :
<ul>
  <li>Name -> itemSold</li>
  <li>Description -> Nombre d'item vendu</li>
  <li>Target -> stats.sales.itemsCounter</li>
  <li>warn level -> 2500</li>
  <li>error level -> 5000</li>
  <li>enabled -> true</li>
</ul>

<h3>Ajouter une notification</h3>

Dans cette partie, nous allons rajouter des alertes pour être notifié par mail quand les alertes seyren sont remontées. Dans un premier temps, nous allon configurer tomcat afin de lui indiquer la configuration du serveur smtp pour envoyer des mails.
{% highlight bash %}
$ export SMTP_HOST=smtp.gmail.com
$ export SMTP_PORT=587
$ export SMTP_FROM=techtrend.xebia@gmail.com
$ export SMTP_USERNAME=techtrend.xebia
$ export SMTP_PASSWORD=a demander
{% endhighlight %}

Ensuite, nous allons redémarrer le serveur tomcat

{% highlight bash %}
$ sudo service tomcat7 restart
{% endhighlight %}

Maintenant, dans Seyren, nous allons rajouter une alerte pour afin d'être notifié quand le nombre de boissons commandés dépassent un certain seuil.
<br/>Pour celà, dans seyren, cliquer sur <code>Checks</code>, puis cliquer sur la ligne <code>itemSold</code>.
<br/>Cliquer ensuite sur <code>Add subscription</code>.

<ul>
    <li>target -> your email</li>
    <li>type -> email</li>
    <li>error -> true</li>
    <li>warning -> false</li>
    <li>enabled -> true</li>
</ul>

Quand le seuil defini en alerte est défini, vous recevrez un mail.

<h3>Relancer Gatling pour dépasser le seul</h3>

{% highlight bash %}
$ launch-gatling
{% endhighlight %}
