<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Workshop : Graphite &amp; JMXTrans by xebia-france</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Workshop : Graphite &amp; JMXTrans</h1>
        <h2>Monitoring opensource avec Graphite &amp; JMXTrans</h2>
        <a href="https://github.com/xebia-france/workshop-graphite-jmxtrans" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a name="workshop--graphite--jmxtrans" class="anchor" href="#workshop--graphite--jmxtrans"><span class="octicon octicon-link"></span></a>Workshop : Graphite &amp; JMXTrans</h1>

<h2>
<a name="lapplication-cocktail-" class="anchor" href="#lapplication-cocktail-"><span class="octicon octicon-link"></span></a>L'application Cocktail :</h2>

<p>Dans ce workshop, vous aurez à disposition 3 instances Amazon sur lesquelles se trouvent respectivement :
<ul>
  <li>Git + Java 7 + Maven 3 + Tomcat 7</li>
  <li>Graphite</li>
  <li>Gatling</li>
</ul>

<p>Ouvrez votre <a href=="#">web app Graphite</a>. C'est dans cette interface que vous pourrez admirer les magnifiques graphes que vous allez bientôt commencer à alimenter.</p>

<p>Connectez-vous en SSH à l'adresse de votre Tomcat</p>

{% highlight bash %}
$ ssh ubuntu@{{page.group}}.tomcat.workshop-jmxtrans-graphite.com
{% endhighlight %}

<p>Récupérer l'application <a href="https://github.com/antoinemichaud/embedded-jmxtrans-samples">Cocktail</a></p>

{% highlight bash %}
$ git clone git@github.com:antoinemichaud/embedded-jmxtrans-samples.git
{% endhighlight %}

<p>Packagez et démarrez l'application : </p>

{% highlight bash %}
$ cd embedded-jmxtranns-samples
$ mvn clean package jetty:run
{% endhighlight %}

<p>Une fois l'application terminée de démarrer, rendez-vous sur le port 8080 de votre toute nouvelle application</p>

<p>Et pour nous récompenser de cette dure labeur achetons-nous 1 sex on the beach.

<h2>Configuration de JMXTrans</h2>

<p>
  Pour nous éviter l'installation d'un serveur JMXTrans, nous allons utiliser JMXTrans Embedded.
  <ul>
    <li>Inclure le plugin maven de JMXTrans dans les sources de l'application Cocktail (utiliser VIM pour éditer le POM par exemple);</li>
    
{% highlight xml %}
&lt;dependency&gt;
    &lt;groupId&gt;org.jmxtrans.embedded&lt;/groupId&gt;
    &lt;artifactId&gt;embedded-jmxtrans&lt;/artifactId&gt;
    &lt;version&gt;1.0.9-SNAPSHOT&lt;/version&gt;
&lt;/dependency&gt;
{% endhighlight %}

  </ul>
  Une fois la dépendance résolue, il faut configurer notre serveur JMXTrans embedded. JMXTrans embedded utilise un fichier JSON pour sa configuration.
  <ul>
    <li>Créer un fichier </li>
  
  

{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}


{% highlight bash %}
$ 
{% endhighlight %}



Template {{page.group}}
        </section>

        <aside id="sidebar">
          <a href="https://github.com/xebia-france/workshop-graphite-jmxtrans/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/xebia-france/workshop-graphite-jmxtrans/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/xebia-france/workshop-graphite-jmxtrans"></a> is maintained by <a href="https://github.com/xebia-france">xebia-france</a>.</p>

          <p>This page was generated by <a href="pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>


  </body>
</html>
